:root{
    --bg-button:#f0f0f0;
    --border-button:#888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border:none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}


.button:active{
  background-color: #ccc;
}

.double{
  grid-column:span 2;
}

 .triple{
  grid-column:span 3;
}

.operation {
  background-color: #fa8231;
  color: #FFF;
}

.operation:active{
  background-color: #fa8231cc;
}
