/*
  CSS do arquivo index.js
  - aplicado a todo o html da aplicação
*/
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

h1,h2,h3{
  font-weight: 300;
}

.app {
  display: flex;

  flex-wrap: wrap;
}
